$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Colors
$background-color: #eae7dc;
$primary-font-color: #8e8d8a;
$secondary-font-color: #d8c3a5;
$link-color: #e98074;
$link-hover-color: #e85a4f;
$content-background-color: #f9f9f9;
$content-border-color: #ccc;